<div style="font-family: sans-serif, arial; font-size: 16px; padding: 30px; background-color: #fff">
  <div style="border-bottom: 4px solid #FF4e4b; padding: 28px 0;">
    <img src="https://evva-landing-staging.web.app/logo-evva.png" width="180px" alt="" />
  </div>
  <div style="color: #1E3459; padding: 36px;">
    <h2>Reset Password</h2>
    <h3>Hello ${userFirstName},</h3>
    <p>We received your request to reset your password. Here's the update code:</p>
    <p style="margin: 40px 0">
      <span style="background: #1E3459; color: #fff; padding: 10px 22px; border-radius: 3px;">
        ${code}
      </span>  
		</p>
    <p>If you did not initiate this request, please ignore this email and your password will remain unchanged. However, if you believe your account has been compromised, please contact us immediately at <a href="mailto:info@turn.az" style="color: #FF4e4b">info@turn.az</a>.</p>
    <p>At Mebellerim, our ultimate goal is to assist you with financial operations, so you can focus on what really matters, your business.</p>
    <br/>
    <p>Best regards,</p>
    <p>The Mebellerim Team</p>
  </div>
  <div style="background-color: #1E3459; color: #fff; text-align: center; padding: 16px;">
    <p style="padding-bottom: 24px;">Join our community and follow us on social media:</p>
    <div style="padding-bottom: 24px;">
      <a href="https://linkedin.com/company/evvafinanzas" target="_blank">
        <img src="https://evva-landing-staging.web.app/linkedin-icon.png" alt="Mebellerim | LinkedIn" width="40px" height="40px" />
      </a>
      <a href="https://twitter.com/evvafinanzas" target="_blank">
        <img src="https://evva-landing-staging.web.app/twitter-icon.png" alt="Mebellerim | Twitter" width="40px" height="40px" />
      </a>
      <a href="https://facebook.com/evvafinanzas" target="_blank">
        <img src="https://evva-landing-staging.web.app/facebook-icon.png" alt="Mebellerim | Facebook" width="40px" height="40px" />
      </a>
    </div>
  </div>
  <div>
    <p style="text-align: center; color: #999999">© 2023 Mebellerim. All rights reserved.</p>
  </div>
</div>
