<section id="page-team" class="banner banner-smaller">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h1 class="h2 title">Meet our team</h1>
                <div class="text">
                    <p>Our architects and designers constantly and carefully monitor the environment, they accept and develop changes, research fashion and architectural, as well as sociological, changes and transform them into unique design.</p>
                </div>
            </div>
        </div>

        <!-- === Our team === -->

        <div class="team">

            <div class="row">

                <!-- === team member === -->

                <div class="col-sm-3">
                    <article>
                        <div class="details details-text">
                            <div class="inner">
                                <h3 class="title">Lea Nils</h3>
                                <h6 class="title">Director</h6>
                            </div>
                        </div>
                        <div class="image">
                            <img src="img/user-1.jpg" alt="" />
                        </div>
                        <div class="details details-social">
                            <div class="inner">
                                <a href="#"><i class="fa fa-phone"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === team member === -->

                <div class="col-sm-3">
                    <article>
                        <div class="details details-text">
                            <div class="inner">
                                <h3 class="title">Nora Star</h3>
                                <h6 class="title">Architect</h6>
                            </div>
                        </div>
                        <div class="image">
                            <img src="img/user-2.jpg" alt="" />
                        </div>
                        <div class="details details-social">
                            <div class="inner">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === team member === -->

                <div class="col-sm-3">
                    <article>
                        <div class="details details-text">
                            <div class="inner">
                                <h3 class="title">Jenna Hale</h3>
                                <h6 class="title">Quality director</h6>
                            </div>
                        </div>
                        <div class="image">
                            <img src="img/user-1.jpg" alt="" />
                        </div>
                        <div class="details details-social">
                            <div class="inner">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === team member === -->

                <div class="col-sm-3">
                    <article>
                        <div class="details details-text">
                            <div class="inner">
                                <h3 class="title">Glen Jordan</h3>
                                <h6 class="title">Supervisor</h6>
                            </div>
                        </div>
                        <div class="image">
                            <img src="img/user-1.jpg" alt="" />
                        </div>
                        <div class="details details-social">
                            <div class="inner">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </article>
                </div>

            </div> 
        </div> 
    </div>
</section>