<nav class="navbar-fixed navbar-single-page">

    <div class="container">

        <!-- ==========  Top navigation ========== -->

        <div class="navigation navigation-top clearfix">
            <ul>
                <!--add active class for current page-->
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>

        <!-- ==========  Main navigation ========== -->

        <div class="navigation navigation-main">
            <a href="/" class="logo"><img src="img/logo.png" alt="" /></a>
            <div class="open-menu"><i class="icon icon-menu"></i></div>
            <div class="floating-menu">
                <!--mobile toggle menu trigger-->
                <div class="close-menu-wrapper">
                    <span class="close-menu"><i class="icon icon-cross"></i></span>
                </div>
                <ul>
                    <li><a href="#page-home" class="current">Homepage</a></li>
                    <li><a href="#page-products">Products</a></li>
                    <li><a href="#page-team">Team</a></li>
                    <li><a href="#page-interiors">Interiors</a></li>
                    <li><a href="#page-contact">Contact</a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>