@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Mebeller.Models.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = "register";
    Layout = null;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="/css/Login/iofrm-style.css">
<link rel="stylesheet" href="/css/Login/iofrm-theme14.css"/>
<link rel="stylesheet" href="css/Login/style.css"/>

<body>
<div style="display: flex; justify-content: center;">

    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="website-logo-inside">
                            <a href="/">
                                <div class="logo">
                                    <img src="/svg/logo-light.svg" style="width: 100px; height: 100px;" alt="">
                                </div>
                            </a>
                        </div>
                        <h3>Get more things done with Loggin platform.</h3>
                        <p>Access to the most powerful tool in the entire design and web industry.</p>
                        <div class="page-links">
                            <a href="/Account/login">Login</a>
                            <a href="/register" class="active">Register</a>
                        </div>
                        <form asp-action="Register" id="register-form">
                            <div class="form-group">
                                <label for="username">User Name</label>
                                <input class="form-control" asp-for="UserName" type="text" id="username" name="username" placeholder="User Name" required>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail Address</label>
                                <input class="form-control" asp-for="Email" type="email" id="email" name="email" placeholder="E-mail Address" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" asp-for="Password" type="password" id="password" name="password" placeholder="Password" minlength="8" required>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="repassword">Confirm Password</label>
                                <input class="form-control" asp-for="RePassword" type="password" id="repassword" name="repassword" placeholder="Confirm Password" minlength="8" required>
                                <span asp-validation-for="RePassword" class="text-danger"></span>
                            </div>
                            <div class="form-button">
                                <button id="submit" type="submit" class="btn btn-primary">Register</button>
                                @if (ViewData["SuccessMessage"] != null)
                                {
                                    <div class="alert alert-success mt-3" role="alert">@ViewData["SuccessMessage"]</div>
                                }
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>