@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Mebeller.Models.ViewModels.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Change password";
}

<!--================RestPassword Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="login_form_inner p-5 register_form_inner">
                    <h3>Change password</h3>
                    <form class="row login_form" asp-action="ResetPassword" id="register_form">
                        <div class="col-md-12 form-group">
                            <input asp-for="NewPassword" class="form-control" id="name" placeholder="New password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'New password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="ReNewPassword" class="form-control" id="name" placeholder="Repeat the new password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Repeat the new password'">
                        </div>
                        <input asp-for="Email" hidden/>
                        <input asp-for="Token" hidden/>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-warning btn-block">Change password</button>
                            <div class="alert alert-danger text-left mt-3" role="alert" asp-validation-summary="All"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End RestPassword Box Area =================-->


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}