<section class="instagram">

    <!-- === instagram header === -->

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <h2 class="h2 title">Follow us <i class="fa fa-instagram fa-2x"></i> Instagram </h2>
                    <div class="text">
                        <p>Mebellerim</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- === instagram gallery === -->

    <div class="gallery clearfix">
        <a class="item" href="#">
            <img src="https://images.offerup.com/HBTXIkk2fDFF1B9uSj9S6Xi-0jM=/565x565/482f/482f1d365606420798b8d79db07556c2.jpg" alt="Alternate Text"/>
        </a>
        <a class="item" href="#">
            <img src="https://www.buyerfox.com/image/cache/catalog/5d3a7a3deedb057fe80124f64e54c7df-550x550.jpg" alt="Alternate Text"/>
        </a>
        <a class="item" href="#">
            <img src="https://housing.com/news/wp-content/uploads/2022/11/image17-4.png" alt="Alternate Text"/>
        </a>
        <a class="item" href="#">
            <img src="https://rowicohome.com/globalassets/miljobilder-mobler/bord/matbord/skye-matbord-reily-stol-564x564.jpg?width=600&quality=80" alt="Alternate Text"/>
        </a>
        <a class="item" href="#">
            <img src="https://housing.com/news/wp-content/uploads/2022/11/image1-125.png" alt="Alternate Text"/>
        </a>
        <a class="item" href="#">
            <img src="https://www.xcelsior.lv/thumbs/kolekcijas/publiskai-telpai/mebeles/tom-dixon/e76e2922b74623a23461d1c76db43364-564x564.jpg" alt="Alternate Text"/>
        </a>

    </div>

</section>