@page
@using Mebeller.Areas.Identity.Pages.Account.Manage
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Mebeller.Areas.Identity.Pages.Account.Manage.ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage"/>

<body class="user-acount">
<section class="content-main">
    <div class="card">
        <div class="card-body">
            <div class="row gx-5">
                <aside class="col-lg-3 border-end">
                    <nav class="nav nav-pills flex-lg-column mb-4">
                        <a class="nav-link" href="/My-Account">Dashboard</a>
                        <a class="nav-link" id="profile" asp-page="./Index">Profile</a>
                        <a class="nav-link active" aria-current="page" id="two-factor" asp-page="./TwoFactorAuthentication">2factor</a>
                        <a class="nav-link" id="personal-data" asp-page="./PersonalData">Delete account</a>
                        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
                    </nav>
                </aside>
                <div class="col-lg-9">
                    <section class="content-body p-xl-4">
                        <div class="alert alert-warning" role="alert">
                            <p>
                                <span class="glyphicon glyphicon-warning-sign"></span>
                                <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
                            </p>
                            <p>
                                This process disables 2FA until you verify your authenticator app.
                                If you do not complete your authenticator app configuration you may lose access to your account.
                            </p>
                        </div>
                        <div>
                            <form id="reset-authenticator-form" method="post">
                                <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator key</button>
                            </form>
                        </div>
                    </section>
                    <!-- content-body .// -->
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- card-body .//end -->
    </div>
    <!-- card .//end -->
</section>
</body>