<footer>
    <div class="container">

        <!--footer showroom-->
        <div class="footer-showroom">
            <div class="row">
                <div class="col-sm-8">
                <h2>Visit our showroom</h2>
                <p>123 Main Street, Baku, Azerbaijan</p>
                <p>Mon - Sat: 10 am - 6 pm &nbsp; &nbsp; | &nbsp; &nbsp; Sun: 12 pm - 2 pm</p>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="#" class="btn btn-clean"><span class="icon icon-map-marker"></span> Get directions</a>
                    <div class="call-us h4"><span class="icon icon-phone-handset"></span> 333.278.06622</div>
                </div>
            </div>
        </div>

        <!--footer links-->
        <div class="footer-links">
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <h5>Browse by</h5>
                    <ul>
                        <li><a href="#">Brand</a></li>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Category</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-2">
                    <h5>Resources</h5>
                    <ul>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Sales</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-2">
                    <h5>Our company</h5>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                
                <div class="col-sm-12 col-md-6">
                    <h5>Welcome to our furniture website</h5>
                    <p><i>Explore our wide selection of furniture products and discover the perfect pieces for your home.</i></p>
                    <p><i>Stay updated with the latest trends, promotions, and special offers.</i></p>
                </div>
                
            </div>
        </div>

        <!--footer social-->

        <div class="footer-social">
            <div class="row">
                <div class="col-sm-6 links">
                    <ul>
                        <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="google"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="youtube"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#" title="instagram"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>