<section class="owl-icons-wrapper">

    <!-- === header === -->

    <header class="hidden">
        <h2>Kateqoriyalar</h2>
    </header>

    <div class="container">

        <div class="owl-icons">

            <!-- === icon item === -->

            <a href="/Products?SelectedCategories=6">
                <figure>
                    <i class="f-icon f-icon-sofa"></i>
                    <figcaption>Divanlar</figcaption>
                </figure>
            </a>
            
            
            <!-- === icon item === -->

            <a href="/Products?SelectedCategories=7">
                <figure>
                    <i class="f-icon f-icon-table"></i>
                    <figcaption>Stol stul</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="/Products?SelectedCategories=11">
                <figure>
                    <i class="f-icon f-icon-bookcase"></i>
                    <figcaption>Kitab rəfləri</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="/Products?SelectedCategories=3">
                <figure>
                    <i class="f-icon f-icon-bedroom"></i>
                    <figcaption>Yataq otağı mebelleri</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="/Products?SelectedCategories=12">
                <figure>
                    <i class="f-icon f-icon-children-room"></i>
                    <figcaption>Uşaq otağı</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="/Products?SelectedCategories=2">
                <figure>
                    <i class="f-icon f-icon-kitchen"></i>
                    <figcaption>Mətbəx mebelləri</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="/Products?SelectedCategories=13">
                <figure>
                    <i class="f-icon f-icon-bathroom"></i>
                    <figcaption>Hamam üçün</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="/Products?SelectedCategories=5">
                <figure>
                    <i class="f-icon f-icon-wardrobe"></i>
                    <figcaption>Dolablar</figcaption>
                </figure>
            </a>
            

            <!-- === icon item === -->

            <a href="/Products?SelectedCategories=1">
                <figure>
                    <i class="f-icon f-icon-office"></i>
                    <figcaption>Ofis mebelleri</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="/Products?SelectedCategories=10">
                <figure>
                    <i class="f-icon f-icon-lightning"></i>
                    <figcaption>Lightning</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="/Products?SelectedCategories=14">
                <figure>
                    <i class="f-icon f-icon-carpet"></i>
                    <figcaption>Xalçalar</figcaption>
                </figure>
            </a>

            <!-- === icon item === -->

            <a href="/Products?SelectedCategories=10">
                <figure>
                    <i class="f-icon f-icon-accessories"></i>
                    <figcaption>Digərləri</figcaption>
                </figure>
            </a>

        </div> 
    </div>
</section>
